# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
dev.venv/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

storage/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Docker
.dockerignore

# Local storage
storage/